body{
    margin: 0;
    background-color: burlywood;
    display: block;
    font-family: sans-serif;
}


header{
    display: block;
    background-color: beige;
    padding: 30px;
    height: 150px;
    width: 100%;
}


header div.block2 p{
    display: block;
    background-color: burlywood;
    padding: 38px; 
    font-size:30px;
}


header div.block1{
    max-width: 960px;
    margin:auto;
    display: block;
}


header div.block1 img{
    float:left;
    margin:18px;
    margin-top:40px;
    width:100px;
    height:100px;
}



nav{
    max-width: 960px;
    margin:auto;
    display: block;
    background-color: beige;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}


nav div#block3 menu{
    padding-left:0;
    margin: 0;
    display: block;
    list-style:none;
}


nav div#block3 menu li{
    display: inline-block;
    padding: 5px 50px;
}


nav div#block3 menu li a{
    text-decoration: none;
}


div#content{
    display: block;
    max-width: 960px;
    margin:auto;
    margin-top: 30px;
    background-color:beige;
    padding: 10px;
}


div#content div.selector2{
    margin-top: 70px;
    display: block;
    align-content: center;
}


div#content div.selector2 table{
    border-spacing: 0;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    display:table;
    width:500px;
    height:200px;
    padding:3px;
    border: 2px solid black;
}


div#content div.selector2 table tbody tr th{
    border: 2px solid black;
}


div#content div.selector2 table tbody tr td{
    border: 2px solid black;
}


div#content div.selector2 table tbody tr.nech{
    display: table-row;
    border: 2px solid black;
    background-color: chocolate;
}


div#content div.selector2 table tbody tr#chet{
    display: table-row;
    border: 2px solid black;
    background-color: darksalmon;
}


div#content div.selector3{
    margin-top: 70px;
    text-align: center;
    display: block;
}


footer{
    display: block;
    width:100%;
    background-color:beige;
    padding:30px;
    text-align:left;
    margin-top:20px;
}